body {
    background-color: rgba(254, 254, 254, 0.91);
    margin: 0 10%;;
}

/* Header elements */

h1 {
    background-color: rgba(49, 46, 46, 0.91);
    color: rgba(255, 255, 255, 1);   
    text-align: center;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 60px;
}

h3 {
    text-align: center;
}

/*Navbar */
nav {
    display: inline;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 2px;
    font-size: 20px;
    height: 40px;
    line-height: 40px; /*setting this to the same as the height has veritcally aligned the li elements correctly */
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Section Headings */

/* Sections */

.section {
    border: 1px solid black;
}

/* Colours */

.colour {
    background-color: red;
    width: 100%;
    text-align: center;
}

.colorbox {
    font-weight: 900;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    display: inline-block;
}

#darkgrey {
    background-color: #312e2ee8;
}

#coolblue {
    background-color: #1e4c75e8;
}

#skyblue {
    background-color: #9acfffe8;
}

/* Footer */