* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(./Fonts/Roboto/Roboto-Regular.ttf) format('truetype'),
         url(./Fonts/Roboto/Roboto-LightItalic.ttf) format('truetype'),
         url(./Fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(./Fonts/Raleway/static/Raleway-Regular.ttf) format('truetype'),
         url(./Fonts/Raleway/static/Raleway-Bold.ttf) format('truetype'),
         url(./Fonts/Raleway/static/Raleway-Italic.ttf) format('truetype');
}

@font-face {
    font-family: "Oswald";
    src: url(./Fonts/Oswald/static/Oswald-Regular.ttf) format('truetype'),
         url(./Fonts/Oswald/static/Oswald-Bold.ttf) format('truetype');
}


body {
    background-color: #fefefee8;
    margin: 0 10%;
    font-family: 'Roboto';
}

/* Header elements */

h1 {
    background-color: #312e2ee8;
    color: #fffdfd;   
    text-align: center;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 60px;
}

h2 {
    text-align: center;
    background-color: #9acfffe8;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 2px solid #0B5987;
    border-radius: 5px;
  }

h3 {
    text-align: center;
}

/*Navbar */
nav {
    display: inline;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 2px;
    font-size: 20px;
    height: 40px;
    line-height: 40px; /*setting this to the same as the height has veritcally aligned the li elements correctly */
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Section Headings */



/* Sections */

section {
    border: 2px solid #0B5987;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0px;
}

/* Colours */

.colour {
    width: 100%;
    text-align: center;
}

.colorbox {
    font-weight: 900;
    width: 200px;
    height: 100px;
    margin-right: 30px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    box-shadow: 5px 5px 1-px 2px #000;
    border-radius: 5%;
}

.colorbox:hover {
    position: relative;
    top: 2px;
    left: 2px;
}

#darkgrey {
    background-color: #312e2ee8;
    color: #fff;
    box-shadow: 5px 5px 10px #000;
}

#coolblue {
    background-color: #1e4c75e8;
    color: #fff;
    box-shadow: 5px 5px 10px #000;

}

#skyblue {
    background-color: #9acfffe8;
    box-shadow: 5px 5px 10px #000;

}

#deepseagreen {
    background-color: #0B5987;
    color: #fff;
    box-shadow: 5px 5px 10px #000;

}


/* Fonts */

.font-block {
    display: inline-block;
    margin-left: 2%;
    margin-right: 5%;
}

.font p, h4 {
    padding-left: 10px;
    font-size: 20px;
}

.roboto .regular {
    font-weight: normal;
}

.roboto .italic {
    font-style: italic;
}

.roboto .bold {
    font-weight: bold;    
}

.raleway {
    font-family: 'Raleway';
}

.raleway .regular {
    font-weight: normal;
}

.raleway .italic {
    font-style: italic;
}

.raleway .bold {
    font-weight: bold;
}

.oswald {
    font-family: 'Oswald';
}

.oswald .regular {
    font-weight: normal;
}

.oswald .italic {
    font-style: italic;
}

.oswald .bold {
    font-weight: bold;
}

/* Footer */